<?php
class MemberListsController extends AppController{

	public $name = "MemberLists";
	public $uses = array('MemberList');
/**
 * beforeFilter
 *
 * @return void
 * @access public
 */
	public function beforeFilter() {
		parent::beforeFilter();
	}

	public function index() 
	{
		$this->set('title_for_layout', __('Member List'));
		$this->layout = 'admin';
		$this->loadModel('MemberList');
		
		$this->MemberList->recursive = 1;
		$user_id = $this->Auth->user('id');						
		
		$this->paginate = array(
								'limit' => 4,
								'conditions' => array('user_id' => $user_id,'status'=>'1'),
								'order' => array('MemberList.created' => 'DESC')
								);

		$MemberList = $this->paginate('MemberList');
		//pr($MemberList);die();
		$MemberListData = $this->MemberList->find('list');
		$this->set(compact('MemberListData','MemberList'));						
	}
	public function contacts()
	{
		$this->set('title_for_layout', __('My Contacts'));
		$this->layout = 'admin';
		$this->loadModel('MemberList');
		
		$this->MemberList->recursive = 1;
		$this->paginate = array(
								'limit' => 4
								);
		$MemberList = $this->paginate('MemberList');
		$MemberListData = $this->MemberList->find('list');
		$this->set(compact('MemberListData','MemberList'));		
	}
	public function add() 
	{
		$this->set('title_for_layout', __('Add new list'));
		$this->layout = 'admin';
		if(!empty($this->request->data))
		{	
			$this->loadModel('MemberList');
			$this->request->data['MemberList']['user_id'] = $this->Auth->user('id');
		    $this->request->data['MemberList']['name'] = htmlspecialchars($this->request->data['MemberList']['name']);
			$this->request->data['MemberList']['description'] = htmlspecialchars($this->request->data['MemberList']['description']);
			$this->request->data['MemberList']['status'] = 1;
			$this->request->data['MemberList']['email_notification'] = isset($this->request->data['MemberList']['email_notification'][0])?1:0;
			$this->request->data['MemberList']['public_list_label'] = $this->request->data['MemberList']['public_list_label'];
			$this->request->data['MemberList']['public_list_label_flag'] = isset($this->request->data['MemberList']['public_list_label_flag'][0])?1:0;
			$this->MemberList->set($this->request->data);
			if($this->MemberList->validates())
			{ 
				$this->MemberList->create();  
				if($this->MemberList->save($this->request->data))
				{
					$this->Session->setFlash(__('You successfully created new list.Now you can add welcome message and can add new contact for this list.'), 'default', array('class' => 'success'));
					$this->request->data=null;
					$this->redirect(array('action' => 'index'));
				}
			}
		}
	}
	public function edit($id)
	{
		$this->set('title_for_layout', __('Edit list'));
		$this->layout = 'admin';
		$this->loadModel('MemberList');
			
		if($id!='' && !$this->request->is('post'))
		{   $editRecord = $this->MemberList->find('first',array('conditions' => array('MemberList.id' => $id)));
			$this->set('editRecord',$editRecord);
		}
		if($this->request->is('post') && $id!='')
		{	
			$this->request->data['MemberList']['user_id'] = $this->Auth->user('id');
		    $this->request->data['MemberList']['name'] = htmlspecialchars($this->request->data['MemberList']['name']);
			$this->request->data['MemberList']['description'] = htmlspecialchars($this->request->data['MemberList']['description']);
			$this->request->data['MemberList']['status'] = 1;
			$this->request->data['MemberList']['email_notification'] = isset($this->request->data['MemberList']['email_notification'][0])?1:0;
			$this->request->data['MemberList']['public_list_label'] = $this->request->data['MemberList']['public_list_label'];
			$this->request->data['MemberList']['public_list_label_flag'] = isset($this->request->data['MemberList']['public_list_label_flag'][0])?1:0;
			$this->MemberList->set($this->request->data);
			
			if($this->MemberList->validates())
			{ 
				$this->MemberList->id = $id;	
				if($this->MemberList->save($this->request->data))
				{
					$this->request->data=null;
					$this->Session->setFlash('The List with name: '.$this->request->data['MemberList']['name'].' has been updated.'); 	
					$this->redirect(array('action' => 'index'));
				}
			}
			else 
			{
				 $editRecord = $this->MemberList->find('first',array('conditions' => array('MemberList.id' => $id)));
			$this->set('editRecord',$editRecord);
			}	
			
		}
	}
	public function delete($id)
	{
		$this->set('title_for_layout', __('Edit list'));
		$this->layout = 'admin';
		if($id!='')
		{
			$this->loadModel('MemberList');
			$lastRecord = $this->MemberList->find('first',array('conditions' => array('MemberList.id' => $id)));
			$this->Session->setFlash('The List with name: '.$lastRecord['MemberList']['name'].' has been deleted.'); 	
			$this->MemberList->delete($id);
		}
		$this->redirect(array('action' => 'index'));
	}
	
	public function confirmContact()
	{
	
	}

}
